body {

#    font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "Hiragino kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Osaka, "メイリオ", Meiryo,Arial,Verdana,"ＭＳ Ｐゴシック", sans-serif;
    font-family: "Hiragino Kaku Gothic Pro", "Hiragino kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Osaka, "メイリオ", Meiryo,Arial,Verdana,"ＭＳ Ｐゴシック", sans-serif;
    font: normal;
    margin:0px auto;
    width:1000px;
    background-color:#3B5998;
}

div#content {
    width:900px;
    padding:50px;
    padding-top:5px;
    padding-bottom:20px;
    background-color:#ffffff;
}

div#postamble {
    width:900px;
    padding:10px 50px 50px 50px;
    font-size:0.7em;
    background-color:#3B5998;
}

div#postamble a {
    padding:0px;
    margin:0px;
}

td.menu {
    line-height:1.5em;
    text-align:center;
    font-size:1.3em;
    margin:0px;
    padding-top:10px;
    padding-bottom:10px;
}

td.menu a {
    color:#FFFFFF;
    text-decoration:none;
    display:block;
    margin:0px;
    padding:5px;
}

td.menu a:hover {
    margin:0px;
    color:#000000;
}

td {
    border:none;
}

th {
    border:none;
}


h2 {
    padding-left:4px;
    border-color:#3B5998;
    border-width:2px 2px 2px 16px;
    border-style:solid;
}

h3 {
    padding-left:4px;
    border-color:#3B5998;
    border-width:0 0 0 12px;
    border-style:solid;
}


/* ソース、例文 */
pre
{
/*  background: gainsboro;
  font-family: monospace;
  font-weight: normal;
  font-style: normal;
  white-space: pre; 
  line-height: 1.1;
  margin-left: 1em;
  margin-right: 0em;
  padding-top: 0em;
  margin-top: 0em;*/
/*  padding: 0.5em; */
/*  overflow: auto; */
}

pre.src
{
  background: #f3f3e3;
  color: black;
  overflow-x: scroll;
}

pre.example
{
  background: #B0E0E6;
  color: black;
}

blockquote
{
  background: #FFFACD;
  color: black;
}


span.title { 
    font-weight: bold;
}

span.date { 
 font-size:90%; 
}

span.author  {
 font-size:95%; 
 color: green;
}

span.item  {
 font-size:95%; 
 color: green;
}
span.item2  {
 color: green;
}


span.others {
 font-size:95%; 
 color: gray;
}

span.timestamp {
 font-size:90%; 
 color: #3B5998;
}

span.prize {
width:50px;
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
text-align:center;
font-size:14px;
padding:3px;
color:#ffffff;
background-color:#bb4e4c;
}
